body {
    margin: 0px;
    width:100vw;
    height:100vh;
}

#images {

}

.focus {
    position: fixed;
    border-radius: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.entry {
    border: 1px solid black;
    float: left;
    width: 10%;
    margin: 1%;
}


.image {
    width: 100%;
    height: 100%;
}


.votes {
    text-align: center;
    font-family: Arial;
    font-size: 1.3em;
    display: flex;
}


#timer {
    position: fixed;
    padding: 3%;
    z-index: 1;
    font-family: Arial;
    font-weight: bold;
    color:
    darkred;
}
