body {
    margin: 0px;
    background-color: #666666;

}


#submit {
    position: fixed;
    z-index: 2;
    right: 0;
}

#timer {
    position: fixed;
    padding: 3%;
    z-index: 1;
    font-family: Arial;
    font-weight: bold;
    color:
    darkred;
}

#canvas {
    background-color: red;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 85%;
}

#brushButtons {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}
