body {
  padding: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
  background-color: #000000;
}

h1, h2 {
  color: #AAAAAA;
  font-weight: 100;
  text-align: center;
}

h1 {
  font-size: 35px;
}

