extends api

block api_list_elements
  li GET /client/current to get the current level
  li POST /client/current to make an image submission for the current level
  li GET /client/level/all to get all available levels
  li GET /client/level/:ID to receive the level with specified ID
  li GET /vote to receive the amount of submissions
  li POST /vote/:ID to vote for submission with specified ID 
