extends ../header/generic_header

block content
  h1 #{title}

  p The following functionality is currently supported:
      ul
        li GET /client/current to get the current level
        li POST /client/current to make an image submission for the current level
        li GET /client/level/all to get all available levels
        li GET /client/level/:ID to receive the level with specified ID
