extends ../header/generic_header

block content
  h1 #{title}

  p The following functionality is currently supported:
      ul
        li GET /host/current to get the submissions of the current level
        li POST to /host/start to start a new level of Ecce Mono

